<div class="table-responsive">
  <table class="table" border="1">
    <tr class="info">
      <td>ID</td>
      <td><%= t 'articles.index.title' %></td>
      <td><%= t 'articles.index.date' %></td>
      <td><%= t 'articles.index.update_date' %></td>
      <td><%= t 'articles.index.text' %></td>
      <td><%= t 'articles.index.author' %></td>
      <% if can?(:update, Article) %>
        <td><%= t 'articles.index.edit_link' %></td>
      <% end %>
      <% if can?(:destroy, Article) %>
        <td><%= t 'articles.index.delete_link' %></td>
    <% end %>
    </tr>
    <% @article.each do |a| %>
      <tr>
        <% if can?(:read, a) %>
          <td><%= a.id %></td>
          <td><%= link_to a.title, article_path(a.id) %></td>
          <td><%= a.created_at %></td>
          <td><%= a.updated_at %></td>
          <td><%= excerpt(a.text, '', radius: 100) %></td>
          <td><%= a.user.email if a.user %></td>
          <% if can?(:update, a) %>
            <td><%= link_to t('articles.index.edit_link'), edit_article_path(a.id) %></td>
          <% end %>
          <% if can?(:destroy, a) %>
            <td><%= link_to t('articles.index.delete_link'), article_path(a.id), method: :delete, data: {confirm: t('articles.index.delete_confirm')} %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<br/>
<%= link_to t('articles.index.new_link'), new_article_path, class: 'btn btn-info' %>
