<h1><%= @article.title %></h1>
<% if @article.user %>
  <h3><%= t('articles.show.author', default: 'Autor') %>: <%= @article.user.email %></h3>
<% end %>
<%= link_to t('articles.show.gallery', default: 'Galeria'), article_pictures_path(@article), class: 'btn btn-primary'  %>
<% if can?(:create, @article.pictures.new) %>
  <%= link_to t('articles.show.new', default: 'Dodaj zdjęcia'), new_article_picture_path(@article), class: 'btn btn-primary'  %>
<% end %>
<p>
  <%= @article.text %>
</p>

<%= link_to t('articles.show.index_link'), articles_path, class: 'btn btn-info'  %>

<br/><br/><hr/>

<%= simple_form_for @comment, url: article_comments_path(@article.id), wrapper: :horizontal_form do |f| %>
  <%= f.input :commenter %>
  <%= f.input :body %>
  <div class="form-group row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.button :submit, class: 'btn-success' %>
    </div>
  </div>
<% end %>

<br/><br/><hr/>
<!-- # TODO: show link to edit and delete for administrator -->
<% @article.comments.reject(&:new_record?).each do |comment| %>
  <div>
    <strong><%= comment.commenter %>:</strong> <%= comment.body %> &nbsp;
    <%= link_to t('comments.index.edit_link'), edit_article_comment_path(@article.id, comment.id) %>
    <%= link_to t('comments.index.delete_link'), article_comment_path(@article.id, comment.id), method: :delete, data: {confirm: t('comments.index.delete_confirm')} %>
  </div>
<% end %>
