<%= simple_form_for(@picture, url: article_pictures_path(@article.id)) do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :image %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success'  %>
  </div>
<% end %>
<%= link_to t('articles.show.index_link'), article_path(@article.id), class: 'btn btn-info'  %>
