<h1><%= @picture.title %></h1>

<%= link_to t('pictures.show.back_to_article', default: 'Wróć do artykułu'), article_path(@article), class: 'btn btn-primary' %>
<%= link_to t('pictures.show.edit', default: 'Edytuj'), edit_article_picture_path(@article, @picture), class: 'btn btn-primary' %>
<%= link_to t('pictures.show.delete', default: 'Usuń'),
            article_picture_path(@article, @picture), method: :delete,
            data: { confirm: t('pictures.show.delete_confirm',
              default: 'Na pewno usunąć?') }, class: 'btn btn-primary' %>

<hr/>
<p>
  <%= image_tag(@picture.image.url, alt: @picture.description) %>
</p>

<p><%= @picture.description %></p>
<hr/>
<%= simple_form_for @comment, url: article_picture_comments_path(@article.id, @picture.id), wrapper: :horizontal_form do |f| %>
  <%= f.input :commenter %>
  <%= f.input :body %>
  <div class="form-group row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.button :submit, class: 'btn-success' %>
    </div>
  </div>
<% end %>

<% @picture.comments.reject(&:new_record?).each do |comment| %>
  <div>
    <strong><%= comment.commenter %>:</strong> <%= comment.body %> &nbsp;
    <%= link_to t('comments.index.edit_link'), edit_article_picture_comment_path(@article.id, @picture.id, comment.id) %>
    <%= link_to t('comments.index.delete_link'), article_picture_comment_path(@article.id, @picture.id, comment.id), method: :delete, data: {confirm: t('comments.index.delete_confirm')} %>
  </div>
<% end %>
